<div class="p-4">
    <h4 class="fst-italic"> <%= t  'articles.elsewhere' %> </h4>
    <ol class="list-unstyled">
        <li><a href="https://github.com/jose-rgb"  target="_blank">GitHub</a></li>
        <li><a href="https://www.youtube.com/channel/UCt8ZIGK2ajtfXOXGyeq7uow" target="_blank">Yotube</a></li>
        <li><a href="https://www.linkedin.com/in/jos%C3%A9-ricardo-aa97a41b2/"   target="_blank">Linkedin</a></li>
    </ol>
</div>